extends layout 

block content 
  if currentUser
    div#characterContentContainer(class="mx-10 font-mont")
      div.first-row.flex.justify-between.items-center.mb-4.border-b-2.border-indigo-400(class="sm:flex-row flex-col lg:gap-x-4")
        h1.text-indigo-400(class="lg:text-5xl text-3xl") #{character.name}
        div.flex.items-center.align-bottom.justify-between.gap-x-10(class="lg:w-full sm:flex-row flex-col relative lg:top-1")
          h1.mr-auto(class="lg:text-3xl text-xl") Level #{character.level} #{character.race} #{character.class}
          h1(class="lg:text-3xl text-xl") #{character.background}, #{character.alignment}
      div.second-row.flex.justify-between(class="lg:flex-row flex-col")
        div.flex.flex-col.gap-5.text-lg(class="lg:mb-0 mb-7 lg:border-b-0 border-b-2 border-b-white/50 pb-7 justify-center")
          div.flex.gap-5.items-center(class="justify-between")
            p.text-cyan-300.text-2xl Inspiration:
            span(class="bg-white/15 shadow-md shadow-cyan-300/30 py-2 px-4 rounded-sm") #{character.inspiration} 
          div.flex.gap-5.items-center(class="lg:justify-start justify-between")
            p.text-cyan-300.text-2xl Proficiency Bonus:
            span(class="bg-white/15 shadow-md shadow-cyan-300/30 py-2 px-4 rounded-sm") #{character.proficiencyBonus} 
        div.flex.gap-10.text-lg(class="lg:flex-row flex-col lg:mb-0 lg:border-b-0 border-b-2 border-b-white/50 pb-7 lg:items-center")
          div.text-center.flex.gap-3(class="lg:flex-col flex-row items-center lg:justify-start justify-between")
            p.text-2xl.text-cyan-300 Armor Class 
            p(class=`bg-white/15 shadow-md shadow-cyan-300/30 py-2 px-4 rounded-sm`)= character.combatStats.armorClass
          div.text-center.flex.gap-3(class="lg:flex-col flex-row items-center lg:justify-start justify-between")
            p.text-2xl.text-cyan-300 Initiative 
            p(class="bg-white/15 shadow-md shadow-cyan-300/30 py-2 px-4 rounded-sm")= character.combatStats.initiative
          div.text-center.flex.gap-3(class="lg:flex-col flex-row items-center lg:justify-start justify-between")
            p.text-2xl.text-cyan-300 Speed
            p(class="bg-white/15 shadow-md shadow-cyan-300/30 py-2 px-4 rounded-sm")= character.combatStats.speed
        div.flex.flex-col.gap-5.text-lg(class="lg:border-b-0 border-b-2 border-b-indigo-200 sm:py-0 py-8")
          p.text-2xl.text-cyan-300.flex.gap-20.items-center.justify-between Current Hitpoints: 
            span(class="bg-white/15 shadow-md shadow-cyan-300/30 py-2 px-4 lg:w-auto min-w-16 max-w-26 rounded-sm text-white text-lg text-right") #{character.combatStats.currentHP} / #{character.combatStats.maxHP}
          p.text-2xl.text-cyan-300.flex.gap-20.items-center.justify-between Temporary Hitpoints: 
            span(class="bg-white/15 shadow-md shadow-cyan-300/30 py-2 px-4 rounded-sm text-white text-lg")= character.combatStats.temporaryHP
          p.text-2xl.text-cyan-300.flex.gap-20.items-center.justify-between Hit Dice: 
            span(class="bg-white/15 shadow-md shadow-cyan-300/30 py-2 px-4 rounded-sm text-white text-lg")= character.combatStats.hitDice
      div.third-row.flex.text-white(class="flex-row justify-center lg:justify-around lg:gap-0 gap-y-10 gap-x-20 flex-wrap mt-10")
        div(class="min-w-36")
          h1.text-cyan-300(class="text-2xl lg:text-3xl text-center") Strength
          div.flex.flex-col(class="lg:text-2xl text-lg bg-white/15 shadow-md shadow-cyan-300/30 py-2 px-4 rounded-sm") 
            div.flex.justify-between.w-full.items-center
              span(class="text-2xl lg:text-3xl") #{character.abilityScores.strength}  
              span(class=`${character.strengthModifier >= 0 ? 'text-teal-300' : 'text-rose-400'} `)  (#{`${character.strengthModifier > 0 ? "+" + character.strengthModifier : character.strengthModifier}`})
            p(class=`${character.strengthModifier >= 0 ? 'text-teal-300' : 'text-rose-400'} text-center`)  [#{`${character.savingThrows.strength > 0 ? "+" + character.savingThrows.strength : character.savingThrows.strength}`}]
        div(class="min-w-36")
          h1.text-cyan-300(class="text-2xl lg:text-3xl text-center") Dexterity
          div.flex.flex-col(class="lg:text-2xl text-lg bg-white/15 shadow-md shadow-cyan-300/30 py-2 px-4 rounded-sm") 
            div.flex.justify-between.w-full.items-center
              span(class="text-2xl lg:text-3xl") #{character.abilityScores.dexterity}  
              span(class=`${character.dexterityModifier >= 0 ? 'text-teal-300' : 'text-rose-400'} `)  (#{`${character.dexterityModifier > 0 ? "+" + character.dexterityModifier : character.dexterityModifier}`})
            p(class=`${character.dexterityModifier >= 0 ? 'text-teal-300' : 'text-rose-400'} text-center`)  [#{`${character.savingThrows.dexterity > 0 ? "+" + character.savingThrows.dexterity : character.savingThrows.dexterity}`}]
        div(class="min-w-36")
          h1.text-cyan-300(class="text-2xl lg:text-3xl text-center") Constitution
          div.flex.flex-col(class="lg:text-2xl text-lg bg-white/15 shadow-md shadow-cyan-300/30 py-2 px-4 rounded-sm") 
            div.flex.justify-between.w-full.items-center
              span(class="text-2xl lg:text-3xl") #{character.abilityScores.constitution}  
              span(class=`${character.constitutionModifier >= 0 ? 'text-teal-300' : 'text-rose-400'} `)  (#{`${character.constitutionModifier > 0 ? "+" + character.constitutionModifier : character.constitutionModifier}`})
            p(class=`${character.constitutionModifier >= 0 ? 'text-teal-300' : 'text-rose-400'} text-center`)  [#{`${character.savingThrows.constitution > 0 ? "+" + character.savingThrows.constitution : character.savingThrows.constitution}`}]
        div(class="min-w-36")
          h1.text-cyan-300(class="text-2xl lg:text-3xl text-center") Intelligence 
          div.flex.flex-col(class="lg:text-2xl text-lg bg-white/15 shadow-md shadow-cyan-300/30 py-2 px-4 rounded-sm") 
            div.flex.justify-between.w-full.items-center
              span(class="text-2xl lg:text-3xl") #{character.abilityScores.intelligence}  
              span(class=`${character.intelligenceModifier >= 0 ? 'text-teal-300' : 'text-rose-400'} `)  (#{`${character.intelligenceModifier > 0 ? "+" + character.intelligenceModifier : character.intelligenceModifier}`})
            p(class=`${character.intelligenceModifier >= 0 ? 'text-teal-300' : 'text-rose-400'} text-center`)  [#{`${character.savingThrows.intelligence > 0 ? "+" + character.savingThrows.intelligence : character.savingThrows.intelligence}`}]
        div(class="min-w-36")
          h1.text-cyan-300(class="text-2xl lg:text-3xl text-center") Wisdom 
          div.flex.flex-col(class="lg:text-2xl text-lg bg-white/15 shadow-md shadow-cyan-300/30 py-2 px-4 rounded-sm") 
            div.flex.justify-between.w-full.items-center
              span(class="text-2xl lg:text-3xl") #{character.abilityScores.wisdom}  
              span(class=`${character.wisdomModifier >= 0 ? 'text-teal-300' : 'text-rose-400'} `)  (#{`${character.wisdomModifier > 0 ? "+" + character.wisdomModifier : character.wisdomModifier}`})
            p(class=`${character.wisdomModifier >= 0 ? 'text-teal-300' : 'text-rose-400'} text-center`)  [#{`${character.savingThrows.wisdom > 0 ? "+" + character.savingThrows.wisdom : character.savingThrows.wisdom}`}]
        div(class="min-w-36")
          h1.text-cyan-300(class="text-2xl lg:text-3xl text-center") Charisma
          div.flex.flex-col(class="lg:text-2xl text-lg bg-white/15 shadow-md shadow-cyan-300/30 py-2 px-4 rounded-sm") 
            div.flex.justify-between.w-full.items-center
              span(class="text-2xl lg:text-3xl") #{character.abilityScores.charisma}  
              span(class=`${character.charismaModifier >= 0 ? 'text-teal-300' : 'text-rose-400'} `)  (#{`${character.charismaModifier > 0 ? "+" + character.charismaModifier : character.charismaModifier}`})
            p(class=`${character.charismaModifier >= 0 ? 'text-teal-300' : 'text-rose-400'} text-center`)  [#{`${character.savingThrows.charisma > 0 ? "+" + character.savingThrows.charisma : character.savingThrows.charisma}`}]
      div.fourth-row

      div#deleteCharModal
        div Are you sure you want to delete the character?
        div#modalSubmitButtons
          // Form for deleting the character
          form(action=`/deleteCharacter/${character._id}` method="POST")
            button#confirmDeleteButton(type="submit" class="bg-red-500 py-2 px-4 text-white rounded hover:bg-red-700 transition-colors duration-150") 
              | Yes, Delete
          // Button to cancel deletion
          button#cancelDeleteButton(class="bg-gray-500 text-white rounded py-2 px-4 hover:bg-gray-700 transition-colors duration-150") Cancel
            //- a(href=`/myCharacters/${character._id}` class="block w-full h-full py-2 px-4") Cancel






  else 
    p.text-5xl.text-rose-600.text-center.mt-10 You do not have permission to access this page.