extends layout

block content
  if currentUser 
    p.text-center.font-bold.text-amber-400.italic.mb-20(class="xl:text-5xl sm:text-3xl text-2xl") Welcome back, #{currentUser.username}
    if characters.length 
      p.text-emerald-400.text-center.mb-10(class="xl:text-3xl lg:text-2xl text-xl") You currently have the following characters:
      div#myCharactersContainer(class="w-11/12 mx-auto flex flex-wrap gap-20 justify-center")
        for character in characters
          a(href=`/myCharacters/${character._id}` class="bg-indigo-400 hover:bg-indigo-500 text-black rounded-lg characterContainer flex flex-col justify-between items-center gap-5 p-5 min-w-32 w-1/6 text-center xl:text-2xl sm:text-lg text-base font-mont cursor-pointer outline outline-2 outline-black shadow-md shadow-amber-300/70 hover:shadow-lg hover:shadow-amber-400/90 hover:scale-110 transition-all duration-300 min-h-40")
            h1(class="xl:text-4xl sm:text-2xl text-lg font-bold font-cactus underline")= character.name
            h2 #{character.race} #{character.class}
            h3 Level #{character.level} 
    else
      p.text-center.text-blue-300.mb-20(class="xl:text-2xl sm:text-xl text-sm") You currently have no characters in your account. Click on the button below to create one.
    a(href="/createCharacter" class="text-emerald-300 w-20 h-20 rounded-lg border-2 border-emerald-300 bg-slate-800 hover:bg-slate-700 transition-colors duration-150 flex items-center justify-center mx-auto outline outline-1 outline-amber-300/50 shadow-md shadow-emerald-300/50 mt-10") 
      i(class="fa-solid fa-plus")
  else
    div#welcomeMsg.text-white.text-center.font-cactus.flex.flex-col.items-center.gap-10.mt-20.px-5(class="xl:text-3xl sm:text-lg text-base")
      p Welcome to #[i The Librarian], an application to store and view your D&amp;D characters
      p.text-5xl.font-bold.pointer-events-none.select-none.text-amber-300.italic.animate-rainbowColor Work in Progress
  
